@import './Application-utilities.css';

/*--  -------- header section -----------/
----  --------------------------------------------------------------  */
header.header-section{
    margin-top: 0.8rem;
    
}

header.header-section .container .logo{
    width: 22rem;
}

header.header-section .container .logo a img{
    width: 3.5rem;
    height: 3.5rem;
}

header.header-section .container .logo div a{
    text-decoration: none;
}

header.header-section .container .logo div a h4.heading{
    margin-left: 0.5rem;
    margin-top: -0.4rem;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
}

header.header-section .container nav.navigation{
    margin-top: -0.4rem;
    width: 100%;
}

header.header-section .container nav.navigation .nav-wrapper .left  a {
    font-size: 1.4rem;
    text-decoration-line: none;
    padding: 1rem;
    font-weight: 300;
}

header.header-section .container nav.navigation .nav-wrapper .left span.divider{
    font-size: 1.5rem;
    color: red;
}

header.header-section .container nav.navigation .nav-wrapper .right .search-bar{
    margin-right: 2rem;
    border: 1px solid black;
}

header.header-section .container nav.navigation .nav-wrapper .right .search-bar input{
    border: none;
    font-size: 1.5rem;
    padding: 0.7rem 0.5rem 0.7rem 0.5rem;
    border-right: 1px solid black;
    letter-spacing: var(--letter-spacing);
}

header.header-section .container nav.navigation .nav-wrapper .right .search-bar input:focus{
    outline: none;
}

header.header-section .container nav.navigation .nav-wrapper .right .search-bar a{
    font-size: 2rem;
    cursor: pointer;
    margin: 0 1rem;
    background: transparent;
}

header.header-section .container nav.navigation .nav-wrapper .right .sign-up{
    font-size: 2rem;
}