@import './Student-utilities.css';

/*---  ---------- Navigation ---------------/
-----  ------------------------------------------------------------- */
.navigation{
    background-color: var(--yellow);
}
    
.navigation .brand a img{
    height: 4rem;
}

.navigation .nav-wrapper ul.nav-list{
    list-style-type: none;
    align-items: center;
}

.navigation .nav-wrapper ul.nav-list li a{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-gray);
    letter-spacing: var(--letter-sapcing);
    cursor: pointer;
    transition: all .3s ease;
}

.navigation .nav-wrapper ul.nav-list li a:hover{
    color: var(--primary);
}

.navigation .nav-wrapper ul.nav-list li{
    margin-left: 2.5rem;
    padding: 1.7rem 0;
    position: relative;
}

.navigation ul.drop-down-list{
    list-style-type: none;
    display: block;
    background-color: var(--yellow);
    padding: 1rem 1.8rem;
    letter-spacing: var(--letter-sapcing);
    cursor: pointer;
    position: absolute;
    width: max-content;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
}

.navigation .nav-wrapper ul.drop-down-list li{
    margin-left: 0;
    padding: 1rem 0.2rem;
}

.navigation .nav-wrapper ul.drop-down-list li a{
    color: var(--text-gray);
}

.navigation .nav-wrapper ul.nav-list li:hover .drop-down-list{
    opacity: 1;
    pointer-events: auto;
    animation: moveUp .5s ease-in-out forwards;
}

@keyframes moveUp{
    0%{
        opacity: 0;
        transform: translateX(-50%) translateY(4rem);
    }
    100%{
        opacity: 1;
        transform: translateX(-50%) translateY((2rem));
    }
}

/*---  ---------- main ---------------/
-----  ------------------------------------------------------------- */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }